<div>
    <input type="text" [(ngModel)]="pipe" placeholder="Searching based on title">
</div>
<table class="table-border">
    <tr>
        <th>Title</th>
        <th>Url</th>
        <th>Created_at</th>
        <th>Author</th>
    </tr>
    <tr *ngFor="let data of httpdata|search:pipe" data-toggle="modal" data-target="#dataModal" (click)="getRawData(data)">
        <td>{{data.title}}</td>
        <td>{{data.url}}</td>
        <td>{{data.created_at}}</td>
        <td>{{data.author}}</td>
    </tr>
</table>
<div class="modal" id="dataModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Raw json data</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body ">
                <pre>{{jsonRawData|json}}</pre>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>